NODE_ENV=development

#-- SERVER

# Port where server is spinned
SERVER_PORT=3000

# Client folder relative to server
# Useful to retrieve content from client, like assets
CLIENT_DIST=/workspace/client-dist
# Shared config between client and server
CONFIG_PATH=/workspace/config

#-- PAYLOAD

PAYLOAD_PORT=3001
# Does theapp use payload
PAYLOAD_ENABLE=true
# Used to access payload media from client
MEDIA_URL=http://localhost:3001
# Used for API calls
PAYLOAD_API_URL=http://app-payload:3001
# Used for to authenticate API calls
# Must be an existing user in payload
PAYLOAD_SERVICE_USER=dev@setsetset.net
PAYLOAD_SERVICE_PASSWORD=xxx
# Unique string for payload sensible operations
PAYLOAD_SECRET=xxx
# For auto login
ADMIN_EMAIL=loic@setsetset.net

#-- DATABASE

DATABASE_URL=mongodb://mongo/app
MONGO_PORT=27017

#-- ANALYTICS

ANALYTICS_ID=analytics-id
ANALYTICS_DOMAIN=://analytics-domain
ANALYTICS_ENABLE=false

#-- GITHUB

# Github Personal Access Token for NPM registry authentication
GITHUB_TOKEN=ghp_xxx
