@use './transition' as *;

@mixin bleed($color: light, $hover: false) {
  position: relative;
  --bleed-background-color: var(--section-background-color-#{$color});

  & > * {
    position: relative;
  }

  &:before {
    content: '';
    display: block;
    background-color: var(--bleed-background-color);
    position: absolute;
    width: 100dvw;
    top: 0;
    left: 0;
    bottom: 0;
    @include transition(background-color);
    border-radius: var(--radius-1);
  }

  @if ($hover != false) {
    $hover-color: dark;
    @if ($color == dark) {
      $hover-color: light;
    }
    &:hover {
      --bleed-background-color: var(--section-background-color-#{$hover-color});
    }
  }
}
