@mixin bleed($color: light) {
  position: relative;

  & > * {
    position: relative;
  }

  &:before {
    content: '';
    display: block;
    background-color: var(--section-background-color-#{$color});
    position: absolute;
    width: 100dvw;
    top: 0;
    left: 0;
    bottom: 0;
  }
}
