@use 'sass:map';

@mixin font($family: body, $size: m, $weight: normal) {
  font-family: var(--font-family-#{$family});
  font-weight: var(--font-weight-#{$weight});
  font-size: var(--font-size-#{$size});
  color: var(--#{$family}-color);
}

$heading-size-map: (
  1: (
    size: xxl,
    weight: medium,
  ),
  2: (
    size: xl,
    weight: medium,
  ),
  3: (
    size: l,
    weight: medium,
  ),
  4: (
    size: m,
    weight: medium,
  ),
);

@mixin heading($h: 4) {
  $size: map.get($heading-size-map, $h);
  @include font($family: heading, $size: map.get($size, size), $weight: map.get($size, weight));
  line-height: var(--font-height-heading);
}
