@use 'sass:map';
@use 'sass:meta';
@use './media';

@mixin font($family: body, $size: m, $weight: normal) {
  font-family: var(--font-family-#{$family});
  font-weight: var(--font-weight-#{$weight});
  color: var(--#{$family}-color);

  @if (meta.type-of($size) == 'map') {
    @each $media, $value in $size {
      @if ($media == 'default') {
        font-size: var(--font-size-#{$value});
      } @else {
        @include media.from($media) {
          font-size: var(--font-size-#{$value});
        }
      }
    }
  } @else {
    font-size: var(--font-size-#{$size});
  }
}

$heading-size-map: (
  1: (
    size: (
      default: xxl,
      big-mobile: xxl,
    ),
    weight: medium,
  ),
  2: (
    size: xl,
    weight: medium,
  ),
  3: (
    size: l,
    weight: medium,
  ),
  4: (
    size: m,
    weight: medium,
  ),
);

@mixin heading($h: 4) {
  $size: map.get($heading-size-map, $h);
  @include font($family: heading, $size: map.get($size, size), $weight: map.get($size, weight));
  line-height: var(--font-height-heading);
}
