@use './utilities' as *;
@use 'sass:map';
@use 'sass:color';

$colors: (
  'teal-00': #ffffff,
  'teal-50': #fbfbfb,
  'teal-100': #eef3f3,
  'teal-200': #ddebeb,
  'teal-300': #c2dada,
  'teal-400': #8cb2ba,
  'teal-500': #6b8a90,
  'teal-600': #64767a,
  'teal-700': #4e5f61,
  'teal-800': #3a474a,
  'teal-900': #283133,
  'teal-950': #161c1d,
);

:root {
  // BASE
  @each $name, $hex in $colors {
    --color-#{$name}: #{$hex};
    --color-#{$name}-rgb:
      #{color.channel($hex, 'red', $space: rgb)}, #{color.channel($hex, 'green', $space: rgb)},
      #{color.channel($hex, 'blue', $space: rgb)};
  }

  --font-size-base: #{pxToRem(16px)};
  --font-size-xxs: #{pxToRem(10px)};
  --font-size-xs: #{pxToRem(12px)};
  --font-size-s: #{pxToRem(14px)};
  --font-size-m: #{pxToRem(16px)};
  --font-size-l: #{pxToRem(20px)};
  --font-size-xl: #{pxToRem(24px)};
  --font-size-xxl: #{pxToRem(36px)};
  --font-family-heading: Urbanist, 'Helvetica Neu', Helvetica, sans-serif;
  --font-family-body: Barlow, 'Helvetica Neu', Helvetica, sans-serif;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-style-normal: normal;
  --font-style-italic: italic;
  --font-height-heading: 1.4;

  --ease-time-short: 150ms;
  --ease-time-medium: 300ms;
  --ease-time-long: 1000ms;
  --ease-function: ease-in-out;

  --space-2: #{pxToRem(2px)};
  --space-4: #{pxToRem(4px)};
  --space-8: #{pxToRem(8px)};
  --space-12: #{pxToRem(12px)};
  --space-16: #{pxToRem(16px)};
  --space-24: #{pxToRem(24px)};
  --space-32: #{pxToRem(32px)};
  --space-48: #{pxToRem(48px)};
  --space-64: #{pxToRem(64px)};
  --space-80: #{pxToRem(80px)};
  --space-128: #{pxToRem(128px)};
  --space-160: #{pxToRem(160px)};

  --radius-1: #{pxToRem(1px)};
  --radius-2: #{pxToRem(2px)};

  --blur: 3px;

  // COMPONENTS
  --page-gap: var(--space-64);
  --grid-gap: var(--space-48);
  --body-color: var(--color-teal-800);
  --heading-color: var(--color-teal-950);
  --link-color-hover: var(--color-teal-600);
  --layout-max-width: #{pxToRem(1600px)};
  --layout-padding-x: var(--space-24);
  --layout-padding-y: var(--space-24);
  --content-padding-top: var(--space-48);
  --content-padding-bottom: var(--space-80);
  --content-padding-x: var(--space-24);
  --content-gap-row: var(--space-48);
  --content-gap-col: var(--space-48);
  --section-background-color-light: var(--color-teal-200);
  --section-background-color-dark: var(--color-teal-600);
  --section-background-color-gray: var(--color-teal-50);
  --section-padding-bottom: var(--space-48);
  --project-item-height: #{pxToRem(400px)};
  --project-item-padding: var(--section-padding-bottom);
  --project-item-gap: var(--space-48);
  --image-background-color: var(--color-teal-100);
  --setsetset-color: var(--body-color);
  --setsetset-color-hover: var(--link-color-hover);

  @include from(mobile) {
    --layout-padding-x: var(--space-48);
    --layout-padding-y: var(--space-48);
    --content-padding-x: 0;
  }

  @include from(desktop) {
    --content-padding-top: var(--space-160);
  }
}
