@use './utilities' as *;
@use 'sass:map';
@use 'sass:color';

$colors: (
  'gray-00': #ffffff,
  'gray-50': #fbfbfb,
  'gray-100': #eef3f3,
  'gray-200': #ddebeb,
  'gray-300': #c2dada,
  'gray-400': #8cb2ba,
  'gray-500': #6b8a90,
  'gray-600': #64767a,
  'gray-700': #4e5f61,
  'gray-800': #3a474a,
  'gray-900': #283133,
  'gray-950': #161c1d,
);

:root {
  // BASE
  @each $name, $hex in $colors {
    --color-#{$name}: #{$hex};
    --color-#{$name}-rgb:
      #{color.channel($hex, 'red', $space: rgb)}, #{color.channel($hex, 'green', $space: rgb)},
      #{color.channel($hex, 'blue', $space: rgb)};
  }

  --font-size-base: #{pxToRem(16px)};
  --font-size-xs: #{pxToRem(10px)};
  --font-size-s: #{pxToRem(14px)};
  --font-size-m: #{pxToRem(16px)};
  --font-size-l: #{pxToRem(20px)};
  --font-size-xl: #{pxToRem(24px)};
  --font-size-xxl: #{pxToRem(36px)};
  --font-family-heading: Urbanist, 'Helvetica Neu', Helvetica, sans-serif;
  --font-family-body: Brlow, 'Helvetica Neu', Helvetica, sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-style-normal: normal;
  --font-style-italic: italic;

  --ease-time-short: 150ms;
  --ease-time-medium: 300ms;
  --ease-time-long: 1000ms;
  --ease-function: ease-in-out;

  --space-2: #{pxToRem(2px)};
  --space-4: #{pxToRem(4px)};
  --space-8: #{pxToRem(8px)};
  --space-12: #{pxToRem(12px)};
  --space-16: #{pxToRem(16px)};
  --space-24: #{pxToRem(24px)};
  --space-32: #{pxToRem(32px)};
  --space-48: #{pxToRem(48px)};
  --space-64: #{pxToRem(64px)};
  --space-80: #{pxToRem(80px)};
  --space-128: #{pxToRem(128px)};

  --radius-1: #{pxToRem(1px)};
  --radius-2: #{pxToRem(2px)};

  --blur: 3px;

  // COMPONENTS
  --layout-max-width: #{pxToRem(1600px)};
}
